

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
}

.navbar {
    background-color: #333;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 10;
}

.navbar-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    max-width: 1200px;
    padding: 0 20px;
}

.navbar-logo {
    color: #fff;
    font-size: 1.5rem;
    text-decoration: none;
}

.nav-menu {
    list-style: none;
    display: flex;
}

.nav-item {
    margin-left: 20px;
}

.nav-links {
    color: #fff;
    text-decoration: none;
    font-size: 1rem;
}

.nav-links:hover {
    color: #f09d51;
    transition: color 0.3s ease-in-out;
}
